{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Барбершоп "Бритва & Стиль"</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

    <!-- Шапка сайта с названием -->
    <header>
        <div class="logo">
            <!-- Название барбершопа -->
            <a href="#">Бритва & Стиль</a>
        </div>
    </header>

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}

    <!-- Первый (главный) экран сайта -->
    <main>
        <section class="hero-screen">
            <!-- Заголовок первого экрана -->
            <h1>Мужские стрижки и классическое бритье</h1>
            
            <!-- Небольшой текст -->
            <p>Создаем безупречный стиль для уверенных в себе мужчин. Опытные мастера, премиальная косметика и атмосфера настоящего мужского клуба.</p>

               {% for service in services %}
            <div class="service-card">
                <h3>{{ service.name }}</h3>
                <p>{{ service.price }}р</p>
            </div>
            {% endfor %}


            <!-- запись клиента -->
    <form method="POST">
        {% csrf_token %}
        <select name="service">
            {% for service in services %}
            <option value="{{service.id}}">{{service.name}}</option>
            {% endfor %}

        </select>
        <input type="text" name="name">
        <input type="text" name="phone">
        <input type="datetime-local" name="date">
                    <!-- Кнопка «Записаться» -->
        <button type="submit" class="btn-booking">Записаться</button>
    </form>


        </section>
    </main>

</body>
</html>


            <!-- <option value="1">Мужская стрижка</option>
            <option value="2">Стрижка бороды</option>
            <option value="3">Классическое бритьё</option> -->